<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Imprimir PDF</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <img src="/Users/k3nsh1n/flask-projects/planVacacional/static/images/sntss-logo.png" height="100" width="100" alt="sntss-logo">
                </div>
                <div class="col-9">
                    <h1 style="text-align: center;">S.N.T.S.S. SECC III JALISCO</h1>
                    <h2 style="text-align: center;">PLAN VACACIONAL</h2>
                    <h3 style="text-align: center;">Comprobante Registro y Verificación    <strong>2021</strong> </h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                        <span>Nombre: {{ rows[0].1 }}</span><br>
                        <span>Adscripción: {{ rows[0].2 }}</span><br>
                        <span>Categoría: {{ rows[0].3 }}</span><br>
                        <span>Matrícula: {{ rows[0].4 }}</span><br>
                        <br>
                        {% for row in rows %}
                        <span>Nombre: {{ row.10 }}</span><br>
                        <span>Fecha de Nacimiento: {{ row.11 }}</span><br>
                        <span>Tipo de Sangre: {{ row.12 }}</span>
                        <br>
                        {% endfor %}
                </div>
                <div class="col-sm align-self-center">
                    <img src="{{ qrcode(rows, box_size=3) }}" alt="img_qrcode"> 
                </div>
                <!-- <div class="container mt-2">
                    <div class="row">
                        <div class="col-6">
                            <img src="{{ qrcode(rows, box_size=3) }}" alt="img_qrcode">
                        </div>
                    </div>   
                </div> -->
                
            </div>
        </div>
    </div>
    <br>
    <div class="container mt-3" style="text-align: center;">
        <div class="row">
            <span>Firma de Recibido:_______________________________________</span>
        </div>
    </div>
    <br>
    <span><strong>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</strong></span>
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <img src="/Users/k3nsh1n/flask-projects/planVacacional/static/images/sntss-logo.png" height="100" width="100" alt="sntss-logo">
                </div>
                <div class="col-9">
                    <h1 style="text-align: center;">S.N.T.S.S. SECC III JALISCO</h1>
                    <h2 style="text-align: center;">PLAN VACACIONAL</h2>
                    <h3 style="text-align: center;">Comprobante Registro y Verificación    <strong>2021</strong> </h3>
                </div>
            </div>
        </div>

        
        <div class="container mt-5">
            <div class="row ">
                <div class="col-6">
                    <div class="card-body">
                        <span>Nombre: {{ rows[0].1 }}</span><br>
                        <span>Adscripción: {{ rows[0].2 }}</span><br>
                        <span>Categoría: {{ rows[0].3 }}</span><br>
                        <span>Matrícula: {{ rows[0].4 }}</span><br>
                        <br>
                        {% for row in rows %}
                        <span>Nombre: {{ row.10 }}</span><br>
                        <span>Fecha de Nacimiento: {{ row.11 }}</span><br>
                        <span>Tipo de Sangre: {{ row.12 }}</span>
                        <br>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>
                <div class="col-6">
                    <img src="{{ qrcode(rows, box_size=3) }}" alt="img_qrcode">
                </div>
            </div>
        </div> 
    </div>
    <div class="container mt-5" style="text-align: center;">
        <div class="row">
            <span>Firma de Recibido:________________________________________________</span>
        </div>
    </div>
</body>
</html>