{% extends 'layout.html' %}


{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">Nombre</th>
                    <th scope="row">Adscripción</th>
                    <th scope="row">Categoría</th>
                    <th scope="row">Matrícula</th>
                    <th scope="row">N.S.S.</th>
                    <th scope="row">Num. Célular</th>
                    <th scope="row">Domicilio</th>
                    <th scope="row">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td scope="col">{{ data.1 }}</td>
                    <td scope="col">{{ data.2 }}</td>
                    <td scope="col">{{ data.3 }}</td>
                    <td scope="col">{{ data.4 }}</td>
                    <td scope="col">{{ data.5 }}</td>
                    <td scope="col">{{ data.6 }}</td>
                    <td scope="col">{{ data.7 }}</td>
                    <td>
                        <a href="/edit/{{ data.0 }}" class="btn btn-warning">Editar</a>
                        <a href="/delete/{{ data.0 }}" class="btn btn-danger">Eliminar</a>
                       
                        <a href="/registerCh/{{ data.0 }}" class="btn btn-secondary">Registrar Hijo</a>
                        <a href="{{ url_for('printPdf', id=data.0) }}" class="btn btn-primary">Imprimir PDF</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}